body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Josefin Sans', 'Open Sans', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items:center;
}

section {
    width: 60%;
}

hgroup {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content:center;
}

hgroup h1 {
    padding-right:30px;
    border-right: black 1px solid;
}
hgroup h2 {
    padding-left: 30px;
    font-size: larger;
    text-align: right;
}

nav {
    display: flex;
    justify-content:center;
}

nav ul {
    list-style-type: none;
    display:flex;
    align-items: baseline;
    justify-content:space-evenly;
    margin: 0;
    padding: 0;
    width: 60%;
}